.flex{
    width: 100%;
    display: flex;
    
}
.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.w-full{
    width: 100%;
}

.my-8{
    margin: 8px 0 ;
}