/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 65.3125em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 52.8125em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #f9f9f9; }

.container {
  max-width: 1045px;
  margin: 0 auto;
  padding-top: 70px; }
  @media only screen and (max-width: 52.8125em) {
    .container {
      max-width: 617px !important; } }
  @media only screen and (max-width: 65.3125em) {
    .container {
      max-width: 830px; } }
  @media only screen and (max-width: 39.625em) {
    .container {
      max-width: 408px !important; } }
  @media only screen and (max-width: 25.5em) {
    .container {
      max-width: 320px !important; } }

@font-face {
  font-family: "Droid-Arabic-Kufi";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ArbFONTS-DroidKufi-Regular.ttf"); }

@font-face {
  font-family: "Droid-Arabic-Kufi";
  font-style: bold;
  font-weight: 800;
  src: url("../fonts/ArbFONTS-DroidKufi-Bold.ttf"); }

body {
  font-family: "Droid-Arabic-Kufi", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7; }

.flex {
  width: 100%;
  display: flex; }

.justify-between {
  justify-content: space-between; }

.align-center {
  align-items: center; }

.w-full {
  width: 100%; }

.my-8 {
  margin: 8px 0; }

.header {
  background-color: #fff;
  width: 100%;
  height: 75px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__side-nav {
    font-size: 20px;
    color: #707070; }
  .header__logo {
    width: 183.5px;
    justify-self: center; }
  .header__user-control {
    height: 20px;
    display: flex;
    align-items: center; }
    .header__user-control__title {
      font-size: 12px;
      font-weight: 800;
      color: #626262; }
    .header__user-control__image {
      margin-right: 20px;
      height: 40px;
      width: 40px;
      border-radius: 50%; }
    @media only screen and (max-width: 25.5em) {
      .header__user-control {
        display: none; } }

.breadcrumb-search {
  height: 40px;
  width: 100%;
  padding: 0 40px;
  background-color: #2e4067;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 39.625em) {
    .breadcrumb-search {
      padding: 0 15px !important; } }
  @media only screen and (max-width: 39.625em) {
    .breadcrumb-search {
      padding: 0 5px !important; } }
  .breadcrumb-search .breadcrumb__link, .breadcrumb-search .breadcrumb__link:visited {
    text-decoration: none;
    color: #fff;
    font-size: 12px; }
  .breadcrumb-search .breadcrumb .active {
    color: #ffd598; }
  .breadcrumb-search .breadcrumb__arrow {
    color: #fff;
    margin: 0 5px; }
  .breadcrumb-search .search {
    display: flex;
    align-items: center; }
    .breadcrumb-search .search__input {
      font-family: inherit;
      background-color: transparent;
      color: #fff;
      border: none;
      width: 180px;
      padding: 0 10px;
      height: 25px;
      outline: none; }
      @media only screen and (max-width: 39.625em) {
        .breadcrumb-search .search__input {
          width: 130px !important; } }
      .breadcrumb-search .search__input::placeholder {
        color: #fff; }
    .breadcrumb-search .search button {
      border: none;
      background-color: transparent;
      width: 26px;
      height: 26px;
      outline: none;
      cursor: pointer; }
    .breadcrumb-search .search__button {
      color: #fff;
      font-size: 14px; }

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px; }
  .stats > * {
    margin-bottom: 10px; }
    .stats > *:not(:last-child) {
      margin-left: 10px; }
    @media only screen and (max-width: 39.625em) {
      .stats > *:nth-of-type(odd) {
        margin-left: 0; } }
    @media only screen and (max-width: 39.625em) {
      .stats > * {
        margin-left: 0 !important; } }
  .stats__info {
    position: relative;
    width: 199px;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px;
    color: #bababa;
    background-color: #fff;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 700;
    box-shadow: 0 4px 5px 0 rgba(113, 113, 113, 0.08); }
    @media only screen and (max-width: 25.5em) {
      .stats__info {
        width: 408px !important; } }
    .stats__info-large {
      width: 400px !important; }
      @media only screen and (max-width: 52.8125em) {
        .stats__info-large {
          width: 617px !important;
          margin-left: 0 !important; } }
      @media only screen and (max-width: 39.625em) {
        .stats__info-large {
          width: 408px !important; } }
    .stats__info__title {
      color: #34508a; }
    .stats__info__icon {
      font-size: 14px;
      color: #34508a; }
    .stats__info .print {
      cursor: pointer;
      width: 90px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3px 16px;
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.3);
      font-family: inherit;
      outline: none;
      transition: all .2s; }
      .stats__info .print:hover {
        background-color: #e7e7e7; }
      .stats__info .print__title {
        font-size: 12px;
        color: #2d2e2e;
        font-weight: 800; }
      .stats__info .print__icon {
        margin-left: 2px; }

.ratings {
  margin-bottom: 40px; }
  .ratings__info {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 4px 5px 0 rgba(113, 113, 113, 0.08); }
  .ratings__head {
    position: relative;
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px;
    color: #bababa;
    font-size: 12px;
    font-weight: 700; }
    @media only screen and (max-width: 39.625em) {
      .ratings__head {
        flex-direction: column;
        height: 120px; }
        .ratings__head > *:not(:last-child) {
          margin-bottom: 8px; } }
    .ratings__head__title {
      font-size: 14px;
      color: #2d2e2e; }
    .ratings__head__stats {
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      @media only screen and (max-width: 39.625em) {
        .ratings__head__stats {
          margin-right: 0; } }
      .ratings__head__stats__number {
        display: flex;
        align-items: center;
        color: #2d2e2e;
        font-size: 16px; }
      .ratings__head__stats__progress {
        margin: 0 10px;
        width: 300px;
        height: 10px;
        border-radius: 20px;
        background-color: #f9f9f9;
        overflow: hidden;
        position: relative; }
        @media only screen and (max-width: 52.8125em) {
          .ratings__head__stats__progress {
            width: 200px; } }
        @media only screen and (max-width: 25.5em) {
          .ratings__head__stats__progress {
            width: 160px; } }
        .ratings__head__stats__progress__line {
          float: left;
          width: 98%;
          height: 10px;
          max-width: 300px;
          background-color: #ffd598; }
          @media only screen and (max-width: 52.8125em) {
            .ratings__head__stats__progress__line {
              max-width: 200px; } }
          @media only screen and (max-width: 25.5em) {
            .ratings__head__stats__progress__line {
              max-width: 160px; } }
          .ratings__head__stats__progress__line .part {
            height: 10px;
            width: 2px;
            background-color: #fff;
            position: absolute;
            z-index: 999999; }
            .ratings__head__stats__progress__line .part-50 {
              top: 0;
              left: 50%; }
            .ratings__head__stats__progress__line .part-75 {
              top: 0;
              left: 75%; }
            .ratings__head__stats__progress__line .part-90 {
              top: 0;
              left: 90%; }
      .ratings__head__stats__title {
        color: #2d2e2e; }
        @media only screen and (max-width: 25.5em) {
          .ratings__head__stats__title {
            font-size: 13px; } }
    .ratings__head__dropdown {
      color: #bababa;
      font-size: 16px;
      cursor: pointer;
      transition: all .2s; }
      .ratings__head__dropdown:hover {
        filter: brightness(50%); }

.works__info {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  height: auto;
  padding: 23px;
  color: #bababa;
  background-color: #fff;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 0 4px 5px 0 rgba(113, 113, 113, 0.08); }

.works__head {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.works__body {
  margin-top: 20px; }
  .works__body__info {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 65.3125em) {
      .works__body__info {
        flex-wrap: wrap;
        justify-content: unset; }
        .works__body__info > * {
          margin: 0 33px; } }
    @media only screen and (max-width: 52.8125em) {
      .works__body__info > * {
        margin: 0 53px; } }
    @media only screen and (max-width: 39.625em) {
      .works__body__info {
        flex-direction: column;
        align-items: center; }
        .works__body__info > * {
          margin: 0; } }

.works__title {
  font-size: 14px;
  color: #2d2e2e; }

.works__dropdown {
  color: #bababa;
  font-size: 16px;
  cursor: pointer;
  transition: all .2s; }
  .works__dropdown:hover {
    filter: brightness(50%); }

.works .tabs {
  width: 100%;
  border-bottom: 5px solid #f9f9f9;
  display: flex; }
  .works .tabs .tab-active {
    background-color: #f9f9f9;
    border-bottom: 5px solid #2e4067; }
  .works .tabs__tab {
    margin-bottom: -5px;
    width: 150px;
    height: auto;
    padding: 5px 13px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid transparent;
    cursor: pointer; }
    .works .tabs__tab:hover {
      background-color: #f9f9f9; }
    .works .tabs__tab__img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-left: 10px; }
    .works .tabs__tab__title {
      color: #2d2e2e; }

.login-stats {
  width: 200px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 3px;
  overflow: hidden;
  overflow-y: scroll; }
  .login-stats::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px; }
  .login-stats::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }
  .login-stats .date {
    color: #bababa; }
  .login-stats .country-tag {
    margin-right: 5px; }
    .login-stats .country-tag__turkey {
      color: #2acc2a; }
    .login-stats .country-tag__tunisia {
      color: #ec3636; }

.circles-text {
  font-size: 20px !important;
  font-family: inherit; }

.editor__options {
  margin-top: 80px;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 39.625em) {
    .editor__options {
      justify-content: center; } }
  .editor__options select {
    font-family: inherit;
    height: 35px;
    padding: 0px 20px;
    border: 1px solid #bababa;
    border-radius: 5px;
    outline: none; }
  .editor__options span {
    font-size: 16px;
    margin: 0 10px; }

.editor__container {
  margin-top: 30px;
  width: 100%;
  height: 800px;
  background-color: #bababa; }

.standard {
  margin-bottom: 4px;
  height: auto; }
  .standard__head {
    height: 40px;
    width: 100%;
    padding: 0 100px;
    background-color: #2e4067;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 39.625em) {
      .standard__head {
        padding: 0 30px; } }
    .standard__head__title {
      color: #fff; }
    .standard__head__rating {
      margin: 0 auto 0 20px; }
    .standard__head__icon {
      font-size: 16px;
      color: #fff;
      cursor: pointer; }
      .standard__head__icon:hover {
        filter: brightness(90%); }
  .standard__body {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    height: auto;
    padding: 23px;
    color: #bababa;
    background-color: #fff;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 700;
    box-shadow: 0 4px 5px 0 rgba(113, 113, 113, 0.08); }
    .standard__body__container {
      width: 90%;
      height: 100%;
      margin: 8px auto;
      padding: 30px 50px;
      border: 1px solid rgba(0, 0, 0, 0.2); }
  .standard__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px; }
    @media only screen and (max-width: 39.625em) {
      .standard__info {
        flex-direction: column;
        text-align: center;
        margin-bottom: 80px; } }
    .standard__info__p {
      color: #2e2e2e; }
      @media only screen and (max-width: 39.625em) {
        .standard__info__p {
          margin-bottom: 20px; } }
    .standard__info__progress__details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
      margin-bottom: 10px; }
      .standard__info__progress__details__title {
        color: #2e2e2e; }

.rating__details {
  padding: 30px 80px;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 39.625em) {
    .rating__details {
      flex-direction: column;
      text-align: center;
      padding: 30px 30px; } }
  .rating__details__note {
    width: 50%; }
    .rating__details__note .note-title {
      font-size: 16px;
      margin-bottom: 10px; }
    .rating__details__note .note-paragraph {
      font-size: 12px; }
    @media only screen and (max-width: 39.625em) {
      .rating__details__note {
        width: auto;
        margin-bottom: 30px; } }
  .rating__details__person {
    height: 200px;
    width: 200px;
    padding: 30px 0;
    border: 1px solid rgba(26, 223, 131, 0.533);
    background-color: rgba(26, 223, 131, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center; }
    .rating__details__person .person__img {
      border-radius: 50%;
      height: 45px;
      width: 45px;
      margin-bottom: 8px; }
    .rating__details__person .person__name {
      font-size: 12px;
      margin-bottom: 3px; }
    .rating__details__person .job-tag {
      color: #505050;
      font-size: 14px;
      margin-bottom: 10px; }
    .rating__details__person .rating-tag {
      color: #fff;
      padding: 3px 20px;
      border-radius: 5px;
      background-color: #13882c; }

.tabs__body {
  display: none; }

.tabs__body-active {
  display: block !important; }

.popup-msg-container {
  width: 100%;
  height: 100vh;
  background-color: #374668;
  opacity: 0.85;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none; }

.isVisible {
  opacity: 1 !important; }

.popup-msg {
  margin: 0 auto;
  max-width: 600px;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 123px;
  opacity: 0;
  transition: opacity .5s ease-in-out; }
  .popup-msg__head {
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 14px 0;
    box-shadow: 0 1.5px 0px rgba(0, 0, 0, 0.1);
    position: relative; }
    .popup-msg__head .close-icon {
      position: absolute;
      top: 35%;
      right: 20px;
      font-size: 20px;
      color: #e63b3b;
      cursor: pointer; }
    .popup-msg__head h3 {
      color: #2d2e2e;
      font-size: 16px;
      font-family: "Droid-Arabic-Kufi";
      font-style: bold; }
  .popup-msg__body {
    margin-top: 40px;
    padding: 10px;
    width: 70%;
    text-align: center;
    margin: 15px auto 0 auto; }
    .popup-msg__body h3 {
      color: #767676;
      font-size: 14px;
      font-family: "Droid-Arabic-Kufi";
      font-weight: 400; }
    .popup-msg__body .action-buttons {
      margin-top: 20px; }
      .popup-msg__body .action-buttons > * {
        margin: 5px; }
      .popup-msg__body .action-buttons .btn {
        font-family: inherit;
        border: none;
        padding: 3px 18px;
        border-radius: 5px;
        cursor: pointer;
        transition: all .2s;
        outline: none; }
        .popup-msg__body .action-buttons .btn:active {
          transform: translateY(2px) scale(0.98); }
        .popup-msg__body .action-buttons .btn:hover {
          filter: brightness(90%); }
        .popup-msg__body .action-buttons .btn-confirm {
          background-color: #e63b3b;
          color: #fff; }
        .popup-msg__body .action-buttons .btn-cancel {
          background-color: #dbe7ff;
          color: #555a64; }

.slide {
  height: 250px;
  width: 450px;
  overflow: hidden; }
  @media only screen and (max-width: 39.625em) {
    .slide {
      width: 310px; } }
  .slide__item {
    width: 150px;
    height: 150px; }
  .slide__title {
    color: #bfbfbf !important;
    margin: 40px 0 10px 0 !important; }

.owl-nav .owl-prev {
  position: absolute;
  top: 1%;
  left: 0;
  background: rgba(0, 0, 0, 0.8) !important;
  font-size: 80px !important;
  outline: none; }

.owl-nav .owl-next {
  position: absolute;
  top: 1%;
  right: 0;
  background: rgba(0, 0, 0, 0.8) !important;
  font-size: 80px !important;
  outline: none; }

.collapse {
  display: none; }
